
<div class="login-area">
    <form [formGroup]="formulario">

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="nome@provedor.com" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha">
        </mat-form-field>
    </form>

      <a mat-raised-button (click)="login()">login</a>
      <a routerLink="/forgotpassword">esqueci minha senha</a>
</div>
